@import "../node_modules/bulma/bulma.sass";

$widthAmounts: (1, 2.5, 3, 4 , 5, 6, 7);
$widthUnit: "%";

.w-100 {
  width: 100%;
}

.product-table {
  tr {
    border-radius: 5px;
    overflow: hidden;

    &:nth-child(2n) {
      td {
        background-color: #F4F4F5;
      }
    }
  }

  td {
    border-bottom: 0;
    padding: 1rem;
    border-right: 2px solid #fff;

    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-right: 0;
    }
  }
}