@import "../node_modules/bulma/bulma.sass";

$widthAmounts: (1, 2.5, 3, 4, 5, 6, 7);
$widthUnit: "%";

$gray100: #F7FAFC;
$gray200: #EDF2F7;
$gray300: rgba(215, 215, 215);
$gray400: rgba(225, 225, 225);
$gray500: rgba(230, 230, 230);
$gray600: rgba(235, 235, 235);

$red300: #F56565;
$green400: #48BB78;

:root {
  --gray-200: #EDF2F7;
  --red-300: #F56565;
  --green-300: #48BB78;
}

body {
  color: #021E2D;
}

.container {
  max-width: 1000px !important;
  padding: 1rem !important;
}

.w-100 {
  width: 100%;
}

.home-page {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.intro {
  padding: 2rem 0;

  h1 {
    font-size: 3rem;
  }
}

.metrics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-list, .metrics {
  width: 100%;
  padding: 1rem 0;
  align-self: center;
}

.product-list-item {
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
  margin: 0.5rem 0;
  height: 4.25rem;
  padding: 0 0.5rem;
  background-color: $gray100;
  border: 2px solid $gray200;

  &:hover {
    background-color: $gray200;
    cursor: pointer !important;
  }

  .column {
    justify-content: space-between;
    align-items: flex-end;
    height: 4rem;
  }
}

.pli-id, .pli-currency, .pli-label {
  font-size: 10px;
  font-weight: 600;
  opacity: 0.6;
  line-height: 10px;
}

.pli-name {
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 1.75rem;
}

.pli-price {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.pli-image {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  
  img {
    height: 40px;
    width: auto;
  }
}

.pli-change {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
}

.pli-change-up {
  color: $red300;
}

.pli-change-down {
  color: $green400;
}

.pli-change-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.pli-icon-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-right: 3px;
  
  border-bottom: 5px solid $red300;
}

.pli-icon-down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-right: 3px;
  
  border-top: 5px solid $green400;
}

.add-price-form {
  max-width: 700px;
  margin: 0 auto;
}

.metric-box {
  background-color: #efefef;
  height: 6.5rem;
  width: 12rem;
  border-radius: 5px;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.metric-box-label {
  font-size: 12px;
  font-weight: bold;
  opacity: 0.7;
}

.metric-box-value {
  font-size: 2.5rem;
  font-weight: 500;
  opacity: 0.9;
  align-self: flex-end;
  line-height: 2.5rem;
}

.metric-box-unit {
  margin-left: 0.25rem;
  justify-self: flex-end;
  align-self: flex-end;
  font-size: 0.9rem;
}

.product-search {
  margin: 1rem 0 2rem;
  display: flex;
  flex-direction: row;

  input {
    width: 75%;
  }
}

.product-tracking-summary {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;

  span {
    font-size: 0.85rem;
    font-weight: 500;
  }
}
