@import "../node_modules/bulma/bulma.sass";

:root {
  --gray-100: #f7fafc;
  --gray-200: #edf2f7;
  --gray-300: #cbd5e0;
  --gray-400: #a0aec0;
  --gray-500: #718096;
  --gray-700: #2D3748;
  --red-200: #feb2b2;
  --red-300: #f56565;
  --green-200: #9ae6b4;
  --green-300: #48bb78;
  --text-color: #021e2d;
  --blue-400: #4299e1;
  --blue-500: #3182ce;
  --blue-600: #2b6cb0;
  --blue-700: #2C5282;
  --yellow-500: #D69E2E;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--text-color);
}

.container {
  max-width: 900px !important;
  padding: 1rem !important;
}

.navbar-menu {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.navbar-start {
  margin-left: -0.5rem;
}

.navbar-item {
  font-weight: 600;
  opacity: 0.9;
  font-size: 1.1rem;
  border-radius: 3px;
  padding: 0.5rem 1rem !important;
  color: var(--gray-700) !important;

  &:hover, &:active, &.active {
    opacity: 1;
    background-color: var(--gray-100) !important;
  }
}

.w-100 {
  width: 100%;
}

.home-page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.intro {
  padding: 0 0 2rem 0;

  h1 {
    font-size: 3rem;
  }
}

.metrics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-list,
.metrics {
  width: 100%;
  padding: 1rem 0;
  align-self: center;
}

.product-list-item {
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
  margin: 0.5rem 0;
  height: 4.25rem;
  padding: 0 0.5rem;
  background-color: var(--gray-100);
  border: 2px solid var(--gray-200);
  position: relative;

  &:hover {
    background-color: var(--gray-200);
    cursor: pointer !important;
  }

  .column {
    justify-content: space-between;
    align-items: flex-end;
    height: 4rem;
  }

  &.loading {
    &:hover {
      cursor: default !important;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
        90deg,
        rgba(#edf2f7, 0) 0,
        rgba(#edf2f7, 0.25) 25%,
        rgba(#edf2f7, 0.5) 50%,
        rgba(#edf2f7, 0.75) 75%,
        rgba(#edf2f7, 0)
      );
      animation: shimmer 1s infinite;
      content: '';
    }
  }
}

.pli-id,
.pli-currency,
.pli-label {
  font-size: 10px;
  font-weight: 600;
  opacity: 0.6;
  line-height: 10px;
}

.pli-name {
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 1.75rem;
}

.pli-price {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.pli-image {
  display: flex;
  justify-content: flex-start;
  align-self: center;

  img {
    height: 40px;
    width: auto;
  }
}

.pli-change {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
}

.pli-change-up {
  color: var(--red-300);
}

.pli-change-down {
  color: var(--green-400);
}

.pli-change-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.pli-icon-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-right: 3px;

  border-bottom: 5px solid var(--red-300);
}

.pli-icon-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-right: 3px;

  border-top: 5px solid var(--green-400);
}

.add-price-form {
  max-width: 700px;
  margin: 0 auto;
}

.metric-box {
  background-color: #efefef;
  height: 6.5rem;
  border-radius: 5px;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 100%;
  margin: 0 0.75rem 1rem 0.75rem;
  max-width: 200px;
  position: relative;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &.loading {
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
        90deg,
        rgba(#fff, 0) 0,
        rgba(#fff, 0.25) 25%,
        rgba(#fff, 0.5) 50%,
        rgba(#fff, 0.75) 75%,
        rgba(#fff, 0)
      );
      animation: shimmer 1s infinite;
      content: '';
    }
  }
}

.metric-box-label {
  font-size: 12px;
  font-weight: bold;
  opacity: 0.7;
}

.metric-box-value {
  font-size: 2.5rem;
  font-weight: 500;
  opacity: 0.9;
  align-self: flex-end;
  line-height: 2.5rem;
}

.metric-box-unit {
  margin-left: 0.25rem;
  justify-self: flex-end;
  align-self: flex-end;
  font-size: 0.9rem;
}

.product-search {
  display: flex;
  flex-direction: row;

  input {
    width: 75%;
  }
}

.metric-box-indicator {
  font-size: 1rem;
  align-self: flex-end;
  margin-right: 3px;
}

.product-tracking-summary {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;

  span {
    font-size: 0.85rem;
    font-weight: 500;
  }
}

.product-page {
  .subtitle {
    font-weight: 600;
    font-size: 0.95rem;
    opacity: 0.8;
  }
}

.price-history-chart {
  background-color: var(--gray-200);
  border-radius: 5px;
  width: 100%;
  height: 320px;
  padding: 1rem;

  text {
    fill: var(--text-color) !important;
    font-size: 0.85rem;
    font-weight: 600;
    opacity: 0.8;
  }
}

.price-table {
  width: 100%;
  border: 1px solid var(--gray-300);

  thead {
    background-color: var(--gray-200);

    tr th {
      font-size: 0.9rem;
      border-bottom: 1px solid var(--gray-300);
      font-weight: 600;
      text-transform: uppercase;
      opacity: 0.9;
      padding: 0.5rem 0.8rem;
    }
  }

  tbody {
    tr {
      background-color: white;
      border: 0;

      td {
        font-size: 1rem;
        font-weight: 500;
        padding: 0.75rem 0.8rem;
        border-bottom: 1px solid var(--gray-300);
        opacity: 0.9;
      }
    }
  }
}

.product-tabs {
  display: flex;
  border-bottom: 2px solid var(--gray-300);
  margin-bottom: 2rem;

  li {
    margin-bottom: -2px;

    a {
      display: block;
      font-size: 1.25rem;
      font-weight: 500;
      padding: 0.5rem 1rem 0.5rem 0;
      margin-right: 1rem;
      color: var(--text-color);
    }

    &.active {
      a {
        font-weight: 600;
        border-bottom: 2px solid var(--blue-400);
        color: var(--blue-700);
      }
    }
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}